.magang-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
}

.magang-form {
  flex: 1;
  margin-right: 20px;
}

.magang-table {
  flex: 1;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}
